'use client';

import { AuthGate } from '../lib/auth/AuthGate';
import { TRPCProvider } from '../src/lib/trpc-provider';

export function Providers({ children }: { children: React.ReactNode }) {
  return (
    <TRPCProvider>
      <AuthGate>{children}</AuthGate>
    </TRPCProvider>
  );
}
